<form action="/new" method="post">
    <h2>ADD NEW HERE</h2>
    
    <label for="textInput">Your Message: <input type="text" name="text" id="textInput"></label>
    <label for="userInput">Your ID: <input type="text" name="username" id="userInput" required></label>
    
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
</form>
